{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Start Profile Details Section -->
<div class="profile">

  <!-- Start Profile Personal Data Section -->
  <div class="profile-data">
    <div class="profile_img">
      <div class="image">
        <img src="{% static 'images/person.png' %}" alt="img8" />
      </div>
    </div>

    <div class="personal">
      <div class="edit">
        <p>{{ profile_user.username }}</p>

        {% if request.user == profile_user %}
          <a href="{% url 'accounts:edit' profile_user.pk %}">
            <img class="edit-img" src="{% static 'images/edit-pen-icon-6.jpg' %}" alt="edit button" />
          </a>
          <a href="{% url 'accounts:delete' profile_user.pk %}">
            <img class="bin-img" src="{% static 'images/icon-remove-22.jpg' %}" alt="bin button" />
          </a>
        {% endif %}
      </div>

      <div class="data">
        <span>{{ user_photos.count }}</span>
        <p>photos</p>

        <span>{{ user_pets.count }}</span>
        <p>pets</p>

        <span>{{ total_likes_count }}</span>
        <p>likes</p>
      </div>

      {% if profile_user.first_name or profile_user.last_name %}
        <h3 class="names">{{ profile_user.first_name }} {{ profile_user.last_name }}</h3>
      {% endif %}
      <p class="email">{{ profile_user.email }}</p>

      {% if profile_user.gender %}
        <p class="gender">{{ profile_user.gender }}</p>
      {% endif %}
    </div>
  </div>
  <!-- End Profile Personal Data Section -->

  <!-- Start Pets Data Section -->
  <div class="pets">
    <div class="statuses">
      {% for pet in user_pets %}
        {% with username=profile_user.username|default:"no-username" %}
          <a href="{% url 'pets:details' username pet.slug %}">
            <div class="head-pet">
              <div class="status">
                <div class="image">
                  <img src="{{ pet.image.url }}" alt="pet img" />
                </div>
              </div>
              <p>{{ pet.name }}</p>
            </div>
          </a>
        {% endwith %}
      {% empty %}
        <p>No pets added yet.</p>
      {% endfor %}
    </div>
  </div>
  <!-- End Pets Data Section -->

  <!-- Start Last Uploaded Photos Section -->
  <div class="pet-photos">
    {% for photo in user_photos %}
      <a href="{% url 'photos:details' photo.pk %}">
        <img src="{{ photo.photo.url }}" alt="pet photo" />
      </a>
    {% empty %}
      <p>No photos uploaded yet.</p>
    {% endfor %}
  </div>
  <!-- End Last Uploaded Photos Section -->

</div>
<!-- End Profile Details Section -->
{% endblock %}